.nav-container{
  background: #A5C6E8;
}


.nav-button{
  grid-area: nav;
  background: none;
  padding:10px;
  border: none;
  height: 50px;
  font-size: 10px;
  border-radius: 25%;
  position: relative;
  text-align: left;


}

#home{
  grid-area: home;
  margin-left: 20px;
}

#library{
  grid-area: library;
}

#gif{
  grid-area: gif;
}
