@keyframes left {
  100% {
     transform: translateX(-100%);
     z-index: 1;

   }
 }

 @keyframes right {
   100% {
      transform: translateX(100%);
      z-index: 1;

    }
  }

@keyframes container {
  100%{
    z-index: -1;
  }
}

.branch {
  width: 50%;
  height: 100vh;
  float:left;
  position:relative;
  z-index: 2;
  transition: all 1s ease-out;
}


#branch-left{
  background-color: green;
  animation-name: left;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  }



#branch-right{
  background-color: green;
  animation-name: right;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}
